.title-nav-wrapper, footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hidden {
	display: none;
}

.title {
	padding-left: 5%;
}

nav {
	padding-right: 5%;
}

.content-wrapper {
	text-align: center;
}

